<div class="container">
  <br>
  <h1>Pipes</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Product</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ name }} </td>
        <td> uppercase </td>
        <td> {{ name | uppercase }} </td>
      </tr>
      <tr>
          <td> {{ name }} </td>
          <td> lowercase </td>
          <td> {{ name | lowercase }} </td>
      </tr>
      <tr>
          <td> {{ name }} </td>
          <td> slice:3 </td>
          <td> {{ name | slice:3 }} </td>
      </tr>
      <tr>
          <td> {{ name }} </td>
          <td> slice:0:3 </td>
          <td> {{ name | slice:0:3 }} </td>
      </tr>
      <tr>
          <td> {{ array }} </td>
          <td> slice:1:5 </td>
          <td> {{ array | slice:1:5 }} </td>
      </tr>
      <tr>
          <td> {{ PI }} </td>
          <td> number </td>
          <td> {{ PI | number:'3.0-0' }} </td>
      </tr>
      <tr>
          <td> {{ PI }} </td>
          <td> number:'1.0-2' </td>
          <td> {{ PI | number:'1.0-2' }} </td>
      </tr>
      <tr>
          <td> {{ Percent }} </td>
          <td> percent </td>
          <td> {{ Percent | percent }} </td>
      </tr>
      <tr>
          <td> {{ Percent }} </td>
          <td> percent:2.2-2 </td>
          <td> {{ Percent | percent:'2.2-2' }} </td>
      </tr>
      <tr>
          <td> {{ salary }} </td>
          <td> currency </td>
          <td> {{ salary | currency }} </td>
      </tr>
      <tr>
          <td> {{ salary }} </td>
          <td> currency:'EUR':true </td>
          <td> {{ salary | currency:'EUR':false }} </td>
      </tr>
      <tr>
          <td> {{ salary }} </td>
          <td> currency:'EUR':true </td>
          <td> {{ salary | currency:'EUR':true }} </td>
      </tr>
      <tr>
          <td> {{ salary }} </td>
          <td> currency:'EUR':true:'4.0-0' </td>
          <td> {{ salary | currency:'EUR':true:'4.0-0' }} </td>
      </tr>
      <tr>
          <td> {{ valueOfPromise }} </td>
          <td> async </td>
          <td> {{ valueOfPromise | async }} </td>
      </tr>
      <tr>
          <td> {{ date }} </td>
          <td> date </td>
          <td> {{ date | date }} </td>
      </tr>
      <tr>
          <td> {{ date }} </td>
          <td> date:medium </td>
          <td> {{ date | date:'medium' }} </td>
      </tr>
    </tbody>
  </table>


  <h3>Slice</h3>
  <ul>
    <li *ngFor="let item of array | slice:5:20">
      {{ item }}
    </li>
  </ul>

  <h4>JSON</h4>
  <pre>
      {{ heroe | json }}
  </pre>
  
<br><br><br>
</div>

